* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trave-btn {
  display: inline-block;
  padding: 10px 22px;
  background: #ffc74a;
  border: 1px solid #ffc74a;
  border-radius: 50px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #b98000;
  text-transform: uppercase;
  margin-top: 25px;
  transition: .4s;
}

.trave-btn:hover {
  color: #b98000;
}

/* Basic CSS End */

/* Header CSS Start */
#travelHeader {
  background-image: url('../images/banner.png');
  height: 860px;
  margin-bottom: 12%;
}

.offcanvas-title {
  font-size: 20px;
  font-weight: bold;
  color: #606f81;
}

.header-content {
  place-items: center;
  height: 550px;
}

.header-content .banner-text h1 {
  font-size: 92px;
}

.header-content .banner-text h1 span {
  color: #ed6950;
}

.header-content .banner-text p {
  font-size: 18px;
  opacity: 0.7;
}

.popular-places p {
  font-size: 18px;
  margin-bottom: 30px;
}

.popular-places .places {
  width: 100%;
}

.popular-places .place {
  height: 350px;
  background: #ddd;
  transition: .2s;
}

#popularPlaces .ahsan-monjil {
  background-image: url('../images/ahsan-monjil.jpg');
}

#popularPlaces .air-force {
  background-image: url('../images/bangladesh-air-force.jpg');
}

#popularPlaces .bd-national {
  background-image: url('../images/bangladesh-national.jpg');
}

#popularPlaces .bd-sonargaon {
  background-image: url('../images/sonargaon.jpg');
}

#popularPlaces .hatirjheel {
  background-image: url('../images/hatirjheel.jpg');
}

#popularPlaces .lalbag-fort {
  background-image: url('../images/lalbag-fort.jpg');
}

#popularPlaces .ramna-park {
  background-image: url('../images/ramna-park.jpg');
}

.popular-places .place .overlay {
  width: 100%;
  height: 100%;
  background: #000000b8;
  padding-bottom: 50px;
  cursor: pointer;
}

.popular-places .place .overlay h3 {
  font-size: 30px;
  font-weight: bold;
}

.popular-places .place .overlay p {
  font-size: 14px;
  color: #ffc74a;
  margin-bottom: 0;
}

.popular-places .place .overlay a {
  display: none;
}

.popular-places .place:hover .overlay a {
  display: block;
  cursor: pointer;
}

/* Header CSS End */

/* Main CSS Start */
#travelMain {}

#travelMain .newsletter {
  background-image: url('../images/dhaka2.jpg');
  padding: 200px 0;
}

/* Main CSS End */

/* Footer CSS Start */
#travelFooter {
  position: relative;
  padding: 110px 0;
}

#travelFooter .back-title h2 {
  font-size: 300px;
  line-height: 220px;
  filter: drop-shadow(0 .125rem .25rem rgba(0, 0, 0, .075));
}

#travelFooter .footer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#travelFooter .footer-text img {
  width: 35px;
  margin-bottom: 14px;
}

#travelFooter .footer-text p {
  font-size: 18px;
  color: #606f81;
}

#travelFooter .footer-text p a {
  color: #ffc74a;
  text-decoration: underline;
}

/* Footer CSS End */