* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Basic CSS End */

/* Header CSS Start */
#traveHeader {
  background-image: url('../images/banner.png');
  height: 750px;
}

.offcanvas-title {
  font-size: 20px;
  font-weight: bold;
  color: #606f81;
}

/* Header CSS End */