* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trave-btn {
  display: inline-block;
  padding: 10px 22px;
  background: #ffc74a;
  border: 1px solid #ffc74a;
  border-radius: 50px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #b98000;
  text-transform: uppercase;
  margin-top: 25px;
  transition: .4s;
}

.trave-btn:hover {
  color: #b98000;
}

.search-input {
  font-size: 18px;
  color: #606f81;
  border: 1px solid #ffc74a;
}

.search-input:focus {
  outline: none;
  box-shadow: none;
}

.search-btn {
  right: 30px;
  top: 18px;
}

/* Basic CSS End */

/* Header CSS Start */
#travelHeader {
  background-image: url('../images/banner.png');
  height: 860px;
  margin-bottom: 12%;
}

#travelHeader .navbar-nav li,
.nav-search {
  padding-right: 30px;
}

.offcanvas-title {
  font-size: 20px;
  font-weight: bold;
  color: #606f81;
}

.header-content {
  place-items: center;
  height: 550px;
}

.header-content .banner-text h1 {
  font-size: 92px;
}

.header-content .banner-text h1 span {
  color: #ed6950;
}

.header-content .banner-text p {
  font-size: 18px;
  opacity: 0.7;
}

.popular-places p {
  font-size: 18px;
  margin-bottom: 30px;
}

.popular-places .places {
  width: 100%;
}

.popular-places .place {
  height: 350px;
  background: #ddd;
  transition: .2s;
}

#popularPlaces .ahsan-monjil {
  background-image: url('../images/ahsan-monjil.jpg');
}

#popularPlaces .air-force {
  background-image: url('../images/bangladesh-air-force.jpg');
}

#popularPlaces .bd-national {
  background-image: url('../images/bangladesh-national.jpg');
}

#popularPlaces .bd-sonargaon {
  background-image: url('../images/sonargaon.jpg');
}

#popularPlaces .hatirjheel {
  background-image: url('../images/hatirjheel.jpg');
}

#popularPlaces .lalbag-fort {
  background-image: url('../images/lalbag-fort.jpg');
}

#popularPlaces .ramna-park {
  background-image: url('../images/ramna-park.jpg');
}

.popular-places .place .overlay {
  width: 100%;
  height: 100%;
  background: #000000b8;
  padding-bottom: 50px;
  cursor: pointer;
}

.popular-places .place .overlay h3 {
  font-size: 30px;
  font-weight: bold;
}

.popular-places .place .overlay p {
  font-size: 14px;
  color: #ffc74a;
  margin-bottom: 0;
}

.popular-places .place .overlay a {
  display: none;
}

.popular-places .place:hover .overlay a {
  display: block;
  cursor: pointer;
}

/* Header CSS End */

/* Main CSS Start */
#travelMain .whereTo-go {
  padding-bottom: 30px;
}

#travelMain .whereTo-go h2 {
  font-size: 30px;
  color: #606f81;
  margin-bottom: 55px;
}

#travelMain .whereTo-go .search-place {
  width: 810px;
}

#travelMain .whereTo-go .tab {
  width: 90%;
  margin: 0 auto;
  background: #fff;
}

#travelMain .whereTo-go .tab-btn {
  list-style: none;
  width: 810px;
  margin: 0 auto 35px;
}

#travelMain .whereTo-go .tab-btn li {
  padding: 6px 20px;
  border: 1px solid #8d97a5;
  border-radius: 30px;
  flex: 0 1 auto;
  margin-right: 10px;
}

#travelMain .whereTo-go .tab-btn li.active {
  background: #ffc74a;
  border: 1px solid #ffc74a;
}

#travelMain .whereTo-go .tab-btn li.active a {
  color: #fff;
}

#travelMain .whereTo-go .tab-btn li a {
  color: #8d97a5;
  font-size: 14px;
  font-weight: bold;
  background: transparent;
  display: inline;
}

#travelMain .colorful-tab-wrapper:before {
  color: #8d97a5;
}

#travelMain .colorful-tab-content {
  padding: 20px;
  height: max-content;
  color: #8d97a5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#journey {
  margin-left: 65px;
}

#travelers,
#sonargaon,
#hatirjheel {
  margin-left: -35px;
}

#guide {
  margin-left: -40px;
}

#ahsanMonjil {
  margin-left: -810px;
}

#travelMain .colorful-tab-content .place-item {
  height: 350px;
  border-radius: 8px;
}

#travelMain .colorful-tab-content .place-item .place-image {
  width: 100%;
  height: 170px;
  border-radius: 8px;
  overflow: hidden;
}

#travelMain .colorful-tab-content .place-item .place-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#travelMain .colorful-tab-content .place-item .place-content {
  padding: 25px 0;
}

#travelMain .colorful-tab-content .place-item .place-content h3 {
  font-size: 30px;
  color: #606f81;
}

#travelMain .colorful-tab-content .place-item .place-content p {
  font-size: 14px;
  color: #606f81;
}

#travelMain .colorful-tab-content .place-item .place-content a {
  background: #ffffff;
  border: 1px solid #ffffff;
  color: #bdc8d9;
  margin-top: 5px;
}

#travelMain .colorful-tab-content .place-item:hover .place-content a {
  background: #ffc74a;
  border: 1px solid #ffc74a;
  color: #b98000;
}

#travelMain .explore-city {
  position: relative;
  background: #bdc8d924;
  padding: 70px 0;
}

#travelMain .explore-city h3 {
  font-size: 30px;
  color: #606f81;
  margin-bottom: 70px;
}

#travelMain .explore-city .city-content h2 {

  color: #f8c759;
}

#travelMain .explore-city .city-content p {
  font-size: 14px;
  color: #606f81;
  line-height: 30px;
  padding: 15px 0;
  margin: 0;
}

#travelMain .explore-city .city-content a {
  margin-top: 10px;
}

#travelMain .explore-city .city-image {
  z-index: 2;
  position: relative;
}

#travelMain .city-image .image {
  width: 430px;
  height: 430px;
  position: absolute;
  top: -9%;
  left: 26%;
}

#travelMain .city-image .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#travelMain .city-image .image-border {
  width: 430px;
  height: 430px;
  border: 15px solid #ffc74a;
  z-index: 9;
}

#travelMain .image-back-title {
  width: 495px;
  position: absolute;
  top: 50%;
  left: 86%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#travelMain .image-back-title h4 {
  font-size: 225px;
  line-height: 195px;
  filter: drop-shadow(0 .125rem .25rem rgba(0, 0, 0, .075));
}

#travelMain .newsletter {
  background-image: url('../images/dhaka2.jpg');
  padding: 200px 0;
}

#travelMain .newsletter .content h2 {
  font-size: 92px;
}

#travelMain .newsletter .content p {
  font-size: 18px;
  margin: 25px 0 0;
}

/* Main CSS End */

/* Footer CSS Start */
#travelFooter {
  position: relative;
  padding: 110px 0;
}

#travelFooter .back-title h2 {
  font-size: 300px;
  line-height: 220px;
  filter: drop-shadow(0 .125rem .25rem rgba(0, 0, 0, .075));
}

#travelFooter .footer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#travelFooter .footer-text img {
  width: 35px;
  margin-bottom: 14px;
}

#travelFooter .footer-text p {
  font-size: 18px;
  color: #606f81;
}

#travelFooter .footer-text p a,
#travelMain .newsletter .content p a {
  color: #ffc74a;
  text-decoration: underline;
}

/* Footer CSS End */

/* Sidebar CSS Start */
.search-result {
  padding-top: 45px;
}

.search-result .sidebar-search-item {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ffc74a;
  margin-bottom: 15px;
}

.search-result .sidebar-search-item .item-image {
  width: 92px;
  height: 100%;
}

.search-result .sidebar-search-item .item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-result .sidebar-search-item .item-content {
  padding-left: 20px;
}

.search-result .sidebar-search-item .item-content a {
  font-size: 20px;
  color: #606f81;
}

.search-result .sidebar-search-item .item-content p {
  font-size: 14px;
  color: #606f81;
  margin: 0;
}

/* Sidebar CSS End */